$color-bg-main: #edede9;
$color-bg-1: #e0cab2;
$color-text-main: #595959;

$color-light-1: #fefae0;
$color-light-3: #fefcec;
$color-light-2: #faedcd;

$color-dark-1: #d4a373;
$color-dark-4: #74522fc4;
$color-dark-2: #7e7060;
$color-dark-3: #856c53;

//Breakpoints

$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1440px;

//Max width

$container-max-width-lg: 768px;
$container-max-width-lg: 1024px;
$container-max-width-lg: 1440px;
