@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.hero {
  height: 100%;
  display: flex;
  flex: 1 1 auto;
  background: transparent;
  align-items: center;

  &__eyebrow {
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
    animation: fadeInLeft 0.8s ease 0.2s both;
  }

  &__content {
    width: 50%;
    padding: 5rem 5rem 1rem 5rem;
    align-self: center;

    h1 {
      animation: fadeInLeft 1s ease 0.8s both;
    }

    h2 {
      margin-top: 1rem;
      animation: fadeInLeft 1.5s ease 1.8s both;
    }

    p {
      @include text_size-lg;
      position: relative;
      animation: fadeInLeft 1.2s ease 1.2s both;
    }

    &__btn {
      margin-top: 9rem;
      display: flex;
      gap: 5rem;
      justify-self: center;
      animation: fadeInUp 1.2s ease 2s both;
    }

    .crumb {
      display: block;
      position: absolute;
      top: 0;
      left: 15rem;
    }
  }
  &__image {
    flex: 1;
    overflow: hidden;
    //animation: fadeInRight 2.5s ease both;

    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 15%,
      black 100%,
      transparent 100%
    );

    &-img {
      width: 100%;
      height: 100%;
      //object-fit: cover;
    }
  }
}
