@use "../styles/variables" as *;
@use "../styles/mixins" as *;
@use "../styles/breakpoints" as *;

.hero {
  height: 100%;
  display: flex;
  flex: 1 1 auto;
  background: transparent;
  align-items: stretch;

  &__eyebrow {
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0;
    transform: translateX(-100%);
    transition:
      opacity 0.8s ease,
      transform 0.8s ease;
  }

  &__content {
    width: 50%;
    padding: 5rem 5rem 1rem 5rem;
    align-self: center;

    &--text {
      opacity: 0;
      transform: translateX(-120%);
      transition:
        opacity 1.2s ease 0.8s,
        transform 1.2s ease 0.8s;

      h2 {
        margin-top: 1rem;
        position: relative;
      }

      p {
        @include text_size-lg;
        position: relative;
      }
    }

    &--btn {
      margin-top: 9rem;
      display: flex;
      gap: 5rem;
      justify-self: center;
      opacity: 0;
      transform: translateY(250%);
      transition:
        opacity 1.5s ease 1.5s,
        transform 1.5s ease 1.5s;
    }

    .crumb {
      display: block;
      position: absolute;
      top: 0;
      left: 15rem;
    }
  }
  &__image {
    flex: 1;
    overflow: hidden;

    mask-image: linear-gradient(
      to right,
      transparent 0%,
      black 15%,
      black 100%,
      transparent 100%
    );

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include laptop {
    .hero__content {
      &--btn {
        a {
          font-size: 1.5rem;
          padding: 0;
        }
      }
    }
  }

  @include tablet {
    min-height: 100%;
    .hero__content {
      padding: 3rem 3rem 1rem 3rem;

      &--text {
        h1 {
          font-size: 5rem;
        }
      }
    }

    .hero__image {
      img {
        transform: scale(1.3);
      }
    }
  }

  @include mobile {
    flex-direction: column;

    &__eyebrow {
      padding-top: 0.5rem;
    }

    &__content {
      padding: 1rem;
      width: 100%;
      text-align: center;

      &--text {
        h1 {
          font-size: 5rem;
        }

        h2 {
          .crumb {
            left: 40rem;
          }
        }
      }

      &--btn {
        margin: 5rem 0 2rem 0;
        gap: 3rem;
        a {
          font-size: 1.5rem;
          padding: 0;
        }
      }
    }
    &__image {
      mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 15%,
        black 95%,
        transparent 100%
      );
    }
  }

  @include mobile-sm {
    &__content {
      &--text {
        h2 {
          font-size: 2rem;

          .crumb {
            left: 20rem;
            font-size: 5rem;
          }
        }
      }
      &--btn {
        margin: 6rem 0 2rem 0;
        gap: 2rem;
      }
    }
  }
}

.is-visible {
  .hero__eyebrow {
    opacity: 1;
    transform: translateX(0);
  }
  .hero__content--text {
    opacity: 1;
    transform: translateX(0%);
  }

  .hero__content--btn {
    opacity: 1;
    transform: translateY(0%);
  }
}
