@use "../styles/variables" as *;
@use "../styles/breakpoints" as *;

.header__navigation {
  width: 100%;
  display: flex;
  z-index: 100;
  position: relative;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem 0 2rem;
  background-color: transparent;

  &-logo {
    font-size: 1.7rem;
  }

  &-links {
    margin-left: auto;
    margin-right: auto;
    ul {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        a {
          font-size: 1.7rem;
          text-transform: uppercase;
          color: inherit;
          transition: 0.1s ease;
        }
      }
    }
  }

  .nav__link {
    position: relative;
    text-decoration: none;
    color: inherit;
    padding: 0.3rem 0.8rem;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border: 3px solid $color-dark-1;
      border-radius: 60% 40px 60% 40px / 40px 60% 40px 60%;
      clip-path: inset(0 100% 0 0);
      transition: clip-path 0.4s ease;
    }

    &:hover::before {
      clip-path: inset(0 0% 0 0);
    }
  }

  &-smallscreen {
    display: none;
    .open-icon,
    .close-icon {
      font-size: 2.5rem;
      cursor: pointer;
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    &-overlay {
      position: fixed;
      margin: 2.5rem 1.5rem;
      top: 0;
      right: 0;
      width: 35%;
      height: 35vh;
      border: 3px solid $color-light-2;
      border-radius: 2rem;
      background: $color-light-3;
      transition: 0.5s ease;
      flex-direction: column;
      z-index: 10;
    }

    &-links {
      ul {
        li {
          margin: 1rem 1rem;
          cursor: pointer;
          list-style: none;

          a {
            text-decoration: none;
            font-size: 2.5rem;
            color: inherit;
            transition: 0.1s ease;
            cursor: pointer;
          }
        }
      }
    }
  }

  @include mobile {
    &-links {
      display: none;
    }

    &-smallscreen {
      display: block;
    }
  }

  @include mobile-sm {
    &-smallscreen-overlay {
      margin: 2rem 1rem;
      width: 95%;
      height: 40vh;
    }
  }
}
